@model IList<Data.Entities.PoRequest>

@{
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

<style>
    .message {
        text-align: center;
    }

    .x_title {
        background-color: #1AAB9C;
    }

    h2 {
        color: #fff;
        text-align: center;
        font-size: x-large;
    }

    tbody {
        font-size: 16px;
    }

    th {
        font-size: 18px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>- Request Lists -</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <table class="table table-striped projects">
                        <thead>
                            <tr>
                                <th style="width: 3%"></th>
                                <th style="width: 20%">Requested By</th>
                                <th style="width: 15%">Type</th>
                                <th style="width: 20%">Created Date</th>
                                <th style="width: 15%">Status</th>
                                <th style="width: 20%"></th>
                                <th style="width: 20%">Quotes</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count == 0)
                            {
                                <tr>
                                    <td class="message" colspan="6">
                                        <div>
                                            No data to display
                                        </div>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                foreach (var poRequest in Model)
                                {
                                <tr>
                                    <td> <img src="/image/@poRequest.Employee.Image" class="avatar" alt="Avatar"></td>
                                    <td>
                                        @poRequest.Employee.FullName
                                    </td>
                                    <td>
                                        <ul class="list-inline">
                                            <li style="width: 100%">
                                                @poRequest.CategoryName
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        @poRequest.CreatedDate.ToLongDateString()
                                    </td>

                                    @if (poRequest.RequestStatusID == 1)
                                    {
                                        <td>
                                            <button type="button" class="btn btn-info btn-sm">In Progress</button>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <button type="button" class="btn btn-success btn-sm">Approved</button>
                                        </td>
                                    }
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="flat">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-round btn-default" data-toggle="modal" data-target="#myModal">Quotes</button>
                                    </td>
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    h4 {
        text-align: center;
    }
    .vertical-alignment-helper {
        display:table;
        height: 100%;
        width: 100%;
    }
    .vertical-align-center {
        /* To center vertically */
        display: table-cell;
        vertical-align: middle;
    }
    .modal-content {
        /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
        width:inherit;
        height:inherit;
        /* To center horizontally */
        margin: 0 auto;
    }
</style>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>
                    <h4 class="modal-title" >Enter Quote</h4>

                </div>
                <div class="modal-body">
                    <form class="form-horizontal form-label-left input_mask">
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="First Name">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <input type="text" class="form-control" id="inputSuccess3" placeholder="Last Name">
                            <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" id="inputSuccess4" placeholder="Email">
                            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <input type="text" class="form-control" id="inputSuccess5" placeholder="Phone">
                            <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Select:<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-9 col-xs-9">
                                <select class="form-control" id="device">
                                    <option>Choose option</option>
                                    <option>Chair</option>
                                    <option>Keyboard</option>
                                    <option>Mouse</option>
                                    <option>PC</option>
                                    <option>Printer</option>
                                    <option>Screen</option>
                                </select>
                                <p class="message" id="deviceMessage"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Rationale: </label>
                            <div class="col-md-6 col-sm-9 col-xs-9">
                                <textarea id="description" class="form-control" data-parsley-maxlength="200"></textarea>
                            </div>
                        </div>

                        <div class="ln_solid"></div>

                        <div class="form-group">
                            <div class="col-md-7 col-md-offset-4">
                                <button type="button" class="btn btn-round btn-success" id="btnSubmit">Submit</button>
                                <button type="button" class="btn btn-round btn-default" id="btnReset">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>              
            </div>
        </div>
    </div>
</div>