
@{
    ViewBag.Title = "test";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

<form action="test" method="post" enctype="multipart/form-data">
    <input type="file" name="postedFile">
    <input type="text" name="phuda">

    <input type="submit">
</form>


@using (Html.BeginForm("test", "Staff", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="postedFile"/>
    <input type="submit" id="btnUpload" value="Upload"/>
}

