.title {
    text-align: center;
    font-size: 28px;
    font-family: Montserrat-Black;
    color: #1AAB9C;
    line-height: 1.2;
}

.x_title {
    border-left: 4px solid #1AAB9C;
    border-right: 4px solid #1AAB9C;
    background: #f4f4f4 !important;
}

.x_panel {
    margin-top: 25px;
}

h2 {
    color: #fff;
    text-align: center !important;
}

.required {
    color: red
}

.message {
    color: red;
    font-size: medium;
    padding-left: 10px;
}

.successMessage {
    color: #26B99A;
    font-size: medium;
    padding-left: 10px;
}

/* form */

textarea {
    height: 70px ! important
}
