
.message {
    text-align: center;
}

.x_title {
    background-color: #1AAB9C;
}

h2 {
    color: #fff;
    text-align: center;
    font-size: x-large;
}
tbody {
    font-size: 16px;
}

th {
    font-size: 18px;
}