@using Data.Entities
@using Data.Utilities

<!DOCTYPE html>
<html lang="en">
@*@{
          var userSession = (Employee)SessionHelper.GetSessionValue(Constant.UserSession);
         var roleSession = (Role)SessionHelper.GetSessionValue(Constant.RoleSession);
    }*@

<head>
    <meta charset="UTF-8">
    <title>Login </title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:300,200' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="icon" href="~/Image/icon.co.jpg" type="image/ico" />

    <link rel="stylesheet" href="~/Content/LoginCss/style.css" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
</head>
<body>
    <div class="form">
        <span id="errorText"></span>
        <div class="forceColor"></div>
        <div class="topbar">
            <form id="loginForm">
                <input type="text" class="input" id="userName" name="userName" placeholder="UserName" maxlength="20" required="" />
                <input type="password" class="input" id="password" name="password" placeholder="Password" maxlength="20" minlength="6" required="" />
                <button type="button" class="submit" id="btnSubmit">Login</button>
            </form>
        </div>
    </div>
</body>

</html>
<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/toastr.js"></script>
<script src="~/Scripts/app/login.js"></script>
