@model  IList<Data.Entities.Asset>
@{
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

@Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors }
    )
@Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.GridView },
    new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new Script { ExtensionSuite = ExtensionSuite.Editors }
    )

<link href="~/Content/PORequest/PORequest.css" rel="stylesheet" />

<script type="text/javascript">
    function OnSelectedCountryChanged() {
        GridView.GetEditor("ProductName").PerformCallback();
    }
    function CityComboBox_BeginCallback(s, e) {
        e.customArgs["CategoryName"] = GridView.GetEditor("CategoryName").GetValue();
    }
</script>



<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Asset Request</h2>
                    <div class="clearfix"></div>

                </div>

                <div class="x_content">
                    <br />
                    <form class="form-horizontal form-label-left">

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Full Name: </label>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                <input type="text" class="form-control" readonly="" value="Truong Phu Da">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Email: </label>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                <input type="text" class="form-control" readonly="" value="phuda@gmail.com">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Custom Mask</label>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                <input type="text" class="form-control" data-inputmask="'mask': '99-999999'">
                                <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Device:<span>*</span></label>
                            <div class="col-md-4 col-sm-9 col-xs-9">
                                @Html.Action("LoadDataCbbCategory")
                            </div>
                            <div class="col-md-4 col-sm-9 col-xs-9">
                                @Html.Action("LoadDataCbbProduct")
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Credit Card Mask</label>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                <textarea id="message" class="form-control" data-parsley-maxlength="100"></textarea>
                                <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="ln_solid"></div>

                        <div class="form-group">
                            <div class="col-md-7 col-md-offset-5">
                                <button type="button" class="btn btn-round btn-success">Submit</button>
                                <button type="button" class="btn btn-round btn-default">Cancel</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!-- /form input mask -->
        <!-- form color picker -->
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Color Picker</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form class="form-horizontal form-label-left">

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Default Input</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input type="text" class="demo1 form-control" value="#5367ce" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Styled</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div class="input-group demo2">
                                    <input type="text" value="#e01ab5" class="form-control" />
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Horizontal bar</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input type="text" class="form-control demo colorpicker-element" data-horizontal="true" id="demo_forceformat" value="#8fff00">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Vertical bar</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input type="text" class="form-control demo colorpicker-element" id="demo_forceformat3" value="#8fff00">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Inline picker</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div class="well">
                                    <div id="demo_cont" class="demo demo-auto inl-bl colorpicker-element" data-container="#demo_cont" data-color="rgba(150,216,62,0.55)" data-inline="true"></div>
                                    <div class="demo demo-auto inl-bl colorpicker-element" data-container="true" data-color="rgb(50,216,62)" data-inline="true" style="margin-left:20px;"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




