
@using Data.Entities
@model IList<Data.Entities.OrderDetail>

@Html.DevExpress().GridView(settings =>{
    settings.Name = "detailGrid";
    settings.SettingsDetail.MasterGridName = "ordersGrid";
    //select one row
    //settings.SettingsBehavior.AllowSelectSingleRowOnly = true;

    settings.SettingsBehavior.AllowFocusedRow = false;
    settings.SettingsLoadingPanel.Mode = GridViewLoadingPanelMode.Disabled;

    //Custom css
    settings.Styles.Header.BackColor = System.Drawing.ColorTranslator.FromHtml("#f4f4f4");
    settings.Styles.Header.ForeColor = System.Drawing.ColorTranslator.FromHtml("#1AAB9C");

    settings.CallbackRouteValues = new { Controller = "Manager", Action = "GetOrderDetailByOrderIdPartial", orderId = ViewBag.OrderId};

    // Hover
    settings.SettingsBehavior.EnableRowHotTrack = true;
    settings.Styles.RowHotTrack.BackColor = System.Drawing.ColorTranslator.FromHtml("#f9fdff");
    settings.Styles.RowHotTrack.Font.Bold = true;
    settings.Width = Unit.Percentage(85);

    //filter
    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowFilterRowMenu = true;
    settings.CommandColumn.ShowClearFilterButton = true;


    settings.KeyFieldName = "OrderDetailID";

    settings.Columns.Add(c =>
    {
        c.Caption = "Product";
        c.FieldName = "ProductName";
        c.SetDataItemTemplateContent(p =>
        {
            int orderDetailId = (int)DataBinder.Eval(p.DataItem, "OrderDetailID");
            var orderDetail = Model.FirstOrDefault(_ => _.OrderDetailID == orderDetailId);

            ViewContext.Writer.Write(
                "<img src=\"/Image/Categories/" + HttpUtility.UrlDecode(orderDetail.ProductImage) + "\" class='avatar' alt='Avatar'>     " +

                "&nbsp&nbsp<a style='text-decoration:none'>" + orderDetail.ProductName + "</a>"
                );
        });
        c.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
        c.Width = 230;
    });

    settings.Columns.Add(c =>
    {
        c.FieldName = "VendorName";
        c.Caption = "Vendor";
        c.CellStyle.HorizontalAlign = HorizontalAlign.Center;
        c.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
        c.Width = 130;
        c.EditorProperties().ComboBox(cb =>
        {
            cb.DataSource = OrderDetail.GetVendors();
            cb.TextField = "Name";
            cb.ValueField = "Name";
            cb.DropDownStyle = DropDownStyle.DropDown;
        });
    });

    settings.Columns.Add(c =>
    {
        c.FieldName = "Quantity";
        c.Caption = "Quantity";
        c.CellStyle.HorizontalAlign = HorizontalAlign.Center;
        c.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
        c.Settings.AllowAutoFilter = DefaultBoolean.False;

        c.Width = 50;
    });

    settings.Columns.Add(c =>
    {
        c.FieldName = "Price";
        c.Caption = "Price";
        c.CellStyle.HorizontalAlign = HorizontalAlign.Center;
        c.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
        c.Settings.AllowAutoFilter = DefaultBoolean.False;
        c.Width = 150;
        c.SetDataItemTemplateContent(p =>
        {
            int orderDetailId = (int)DataBinder.Eval(p.DataItem, "OrderDetailID");
            var orderDetail = Model.FirstOrDefault(_ => _.OrderDetailID == orderDetailId);
            ViewContext.Writer.Write(
                string.Format("{0:0,0 VND}", orderDetail.Price)
                );
        });
    });

    settings.Columns.Add(c =>
    {
        c.FieldName = "Subtotal";
        c.Caption = "Subtotal";
        c.CellStyle.HorizontalAlign = HorizontalAlign.Center;
        c.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
        c.Settings.AllowAutoFilter = DefaultBoolean.False;
        c.Width = 150;
        c.SetDataItemTemplateContent(p =>
        {
            int orderDetailId = (int)DataBinder.Eval(p.DataItem, "OrderDetailID");
            var orderDetail = Model.FirstOrDefault(_ => _.OrderDetailID == orderDetailId);
            ViewContext.Writer.Write(
                string.Format("{0:0,0 VND}", orderDetail.Subtotal)
                );
        });
    });

}).Bind(Model).GetHtml()