
@{
    ViewBag.Title = "Manage Orders";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

@model IList<Data.Entities.Order>


@Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors }
    )

@Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.GridView },
    new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new Script { ExtensionSuite = ExtensionSuite.Editors }
    )

<link href="~/Content/Manager/Order.css" rel="stylesheet" />


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="row">
                    <div class="col-md-6">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2 class="title"><b>Proportion Of Vendors</b></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div id="Chart"></div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2 class="title"><b>Assets Usage</b></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div id="3dChart" style="height: 400px"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 col-md-offset-1">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2 class="title"><b>Orders</b></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                @using (Html.BeginForm())
                                {
                                    @Html.Partial("_OrdersPartial", Model)
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/Scripts/jquery.js"></script>

<script src="~/Scripts/HighChart/highcharts.js"></script>
<script src="~/Scripts/HighChart/export-data.js"></script>
<script src="~/Scripts/HighChart/exporting.js"></script>
<script src="~/Scripts/HighChart/highcharts-3d.js"></script>

<script src="~/Scripts/app/Order.js"></script>
