@model IList<Data.Entities.PoRequest>

@{
    Layout = "~/Views/Shared/_Layouts.cshtml";
    ViewBag.Title = "Select Quotes";

}

@Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors }
    )

@Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.GridView },
    new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new Script { ExtensionSuite = ExtensionSuite.Editors }
    )


<link href="~/Content/SweetAlert/SweetAlert.css" rel="stylesheet" />
<script src="~/Scripts/app/sweetalert.min.js"></script>
<script src="~/Scripts/app/sweetalert.js"></script>

<link href="~/Content/Manager/PoRequestsFromStaff.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 class="title"><b>Request List</b></h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    @Html.Partial("_PoRequestsFromStaffPartial", Model)
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/app/PoRequestsFromStaff.js"></script>