@model IList<Data.Entities.PoRequest>
@{
    Layout = "~/Views/Shared/_Layouts.cshtml";
}
<link href="~/Content/User/RequestsStatus.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>- Tracking Request -</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <table class="table table-striped projects">
                        <thead>
                            <tr>
                                <th style="width: 1%">#</th>
                                <th style="width: 20%">Type</th>
                                <th>Assigned By</th>
                                <th>Status</th>
l                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count == 0)
                            {
                                <tr>
                                    <td class="message" colspan="6" >
                                        <div>
                                            No data to display
                                        </div>
                                    </td>
                                </tr>
                                
                            }
                            else
                            {
                                foreach (var poRequest in Model)
                                {
                                    <tr>
                                        <td>#</td>
                                        <td>
                                            <a>@poRequest.CategoryName</a>
                                            <br />
                                            <small>Created on @poRequest.CreatedDate.ToLongDateString()</small>
                                        </td>
                                        <td>
                                            <ul class="list-inline">
                                                <li>
                                                   
                                                </li>
                                                <li>
                                                    <a></a>
                                                    <br/>
                                                    <small>Created @poRequest.CreatedDateString</small>
                                                </li>                                              
                                            </ul>
                                        </td>
                                        
                                        @if (poRequest.RequestStatusID == 1)
                                        {
                                            <td>
                                                <button type="button" class="btn btn-info btn-xs">In Progress</button>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <button type="button" class="btn btn-success btn-xs">Approved</button>
                                            </td>
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


