@using Data.Entities
@using Data.Utilities
@{
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

@{
    var userSession = (Employee)SessionHelper.GetSessionValue(Constant.UserSession);
}

<link href="~/Content/User/RequestForm.css" rel="stylesheet" />

<link href="~/Content/SweetAlert/SweetAlert.css" rel="stylesheet" />
<script src="~/Scripts/app/sweetalert.min.js"></script>
<script src="~/Scripts/app/sweetalert.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2">
            <div class="x_panel">
                <div class="x_title">
                    <h2>- Asset Request -</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <br />
                    <form class="form-horizontal form-label-left" id="formRequest">
                        <input type="hidden" id="employeeId" class="form-control has-feedback-left" value="@userSession.EmployeeID" readonly="readonly">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3 ">Full Name: </label>
                            <div class="col-md-7 col-sm-9 col-xs-9">
                                <input type="text" class="form-control has-feedback-left" value="@userSession.FullName" readonly="readonly">
                                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Email: </label>
                            <div class="col-md-7 col-sm-9 col-xs-9">
                                <input type="text" class="form-control has-feedback-left" value="@userSession.Email" readonly="readonly">
                                <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Select:<span class="required">*</span></label>
                            <div class="col-md-7 col-sm-9 col-xs-9">
                                <select class="form-control" id="device">
                                    <option>Choose option</option>
                                    <option>Chair</option>
                                    <option>Keyboard</option>
                                    <option>Mouse</option>
                                    <option>PC</option>
                                    <option>Printer</option>
                                    <option>Screen</option>
                                </select>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Rationale:<span class="required">*</span></label>
                            <div class="col-md-7 col-sm-9 col-xs-9">
                                <textarea id="description" class="form-control has-feedback-left" maxlength="100"></textarea>
                                <span class="fa fa-comments form-control-feedback left" aria-hidden="true"></span>
                            </div>

                        </div>
                        <div class="col-md-9 col-md-offset-3">
                            <p class="message" id="errorMessage"></p>
                        </div>
                        <br>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-5">
                                <button type="button" class="btn btn-round btn-success" id="btnSubmit">Submit</button>
                                <button type="button" class="btn btn-round btn-default" id="btnReset">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/app/RequestForm.js"></script>