.title {
    text-align: center;
    font-size: 28px;
    font-family: Montserrat-Black;
    color: #1AAB9C;
    line-height: 1.2;
}

.x_title {
    border-left: 4px solid #1AAB9C;
    border-right: 4px solid #1AAB9C;
    background: #f4f4f4 !important;
}

.x_panel {
    margin-top: 25px;
}

.history-area {
    display: flex;
    justify-content: center;
}

/*Pop up*/
.modal-header {
    background-color: #1AAB9C;
}

.modal-title {
    text-align: center;
    color: #fff;
    font-size: x-large;
}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
}

.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
}

.modal-content {
    width: inherit;
    height: inherit;
    margin: 0 auto;
}

/*detail*/
.history, .depreciation, h4 {
    display: flex;
    justify-content: center
}
