@using Data.Entities
@using Data.Utilities
@using DevExpress.XtraRichEdit.Model
@using Constant = Data.Utilities.Constant
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/Image/icon.co.png" type="image/ico" />
    <title>Asset Management | Home Page</title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">

    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>

</head>
@* @{ *@
@*     var userSession = (Personnel)SessionHelper.GetSessionValue(Constant.UserSession); *@
@*     var roleSession = (Role)SessionHelper.GetSessionValue(Constant.RoleSession); *@
@* } *@
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-paper-plane-o"></i> <span style="font-size: 20px">Asset Management</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            @* <img src="~/Image/@userSession.Image" alt="..." class="img-circle profile_img"> *@
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            @*     <h2>@userSession.FullName</h2> *@
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br>
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section active">
                            <h3>General</h3>
                            <ul class="nav side-menu" style="">
                                <li>
                                    <a><i class="fa fa-desktop"></i> Category <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" id="bar">
                                        <li><a href="/Product/Index?categoryId=1">Chair</a></li>
                                        <li><a href="/Product/Index?categoryId=2">Keyboard</a></li>
                                        <li><a href="/Product/Index?categoryId=3">Mouse</a></li>
                                        <li><a href="/Product/Index?categoryId=4">PC</a></li>
                                        <li><a href="/Product/Index?categoryId=5">Printer</a></li>
                                        <li><a href="/Product/Index?categoryId=6">Screen</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a><i class="fa fa-table"></i> Manage Assets <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Asset/Index">Assets Information</a></li>
                                        <li><a href="">Assign Assets</a></li>
                                    </ul>
                                </li>

                                @* @if (roleSession.RoleName == "Manager")
                                    {

                                    }*@

                                <li>
                                    <a><i class="fa fa-bar-chart-o"></i> Report <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="chartjs.html">Chart JS</a></li>
                                        <li><a href="chartjs2.html">Chart JS2</a></li>

                                        <li><a href="morisjs.html">Moris JS</a></li>
                                        <li><a href="echarts.html">ECharts</a></li>
                                        <li><a href="other_charts.html">Other Charts</a></li>
                                    </ul>
                                </li>

                                @* @if (roleSession.RoleName == "Manager")
                                    {

                                    }*@



                                <li id="foo2">
                                    <a><i class="fa fa-edit"></i> Purchase Order Requests <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" >
                                        <li><a href="form_advanced.html">Create request</a></li>
                                        <li><a href="form_validation.html">Form Validation</a></li>
                                        <li><a href="form_wizards.html">Form Wizard</a></li>
                                        <li><a href="form_upload.html">Form Upload</a></li>
                                        <li><a href="form_buttons.html">Form Buttons</a></li>
                                    </ul>
                                </li>

                                @* @if (roleSession.RoleName == "Manager" || roleSession.RoleName == "User" && userSession.JobTitle == "Accountant")
                                    {

                                    } *@
                                <li>
                                    <a><i class="fa fa-truck"></i> Vendors <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="tables.html">Tables</a></li>
                                        <li><a href="tables_dynamic.html">Table Dynamic</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>


                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    @* <img src="~/Image/@userSession.Image" alt="...">@userSession.FullName *@
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> Profile</a></li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:;">Help</a></li>
                                    <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>

                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die s for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a>
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main" style="min-height: 739px;">
                @RenderBody()
            </div>
            <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        </div>
    </div>

    <!-- jQuery -->
    

    <!-- Custom Theme Scripts -->

<script src="../build/js/custom.min.js"></script>

    <script>
        $(document).ready(function () {
            for (var i = window.location, o = $("ul.side-menu a").filter(function () {
                return this.href == i;
            }).addClass("active").parent().addClass("active"); ;) {
                if (!o.is("li")) break;
                o = o.parent().addClass("in").show().parent().addClass("active");
            }
        });
    </script>
</body>
</html>
