@media (max-width: 1730px) {
     .fix-position {
         width: 100%;
     }
 }
/* Combobox */
.name {
    font-weight: bold;
    padding-top: 5px;
    padding-left: 10px;
}

.photo {
    width: 84px;
    height: 84px;
    vertical-align: middle;
}

.frame {
    border: 1px solid lightgray;
    padding: 4px;
}

.description {
    color: gray;
    padding-top: 1px;
    padding-left: 10px;
}

.contactInfo {
    padding-bottom: 11px;
}

.hoveredItem .description {
    color: inherit; 
}

.selectedItem .description,
.selectedItem .name {
    color: #ffffff;
}



#message2, .required {
    color: red;
}
