/* Combobox */
.name {
    font-weight: bold;
    padding-top: 5px;
    padding-left: 10px;
}
.photo {
    width: 84px;
    height: 84px;
    vertical-align: middle;
}
#imageTd {
    width: 92px !important
}
.frame {
    border: 1px solid lightgray;
    padding: 4px;
    width: 92px !important
}
.description {
    color: gray;
    padding-top: 1px;
    padding-left: 10px;
}


.hoveredItem .description {
    color: inherit;
}

.selectedItem .description,
.selectedItem .name {
    color: #ffffff;
}

/* End combobox */

.required {
    color : red
}

#message {
    color: red;
    font-size: medium
}